<%#= form_for [:admin, @category, @word, @choice] do |f| %>
    <div class="field">
        <%#= render 'error_messages' %>
        <%#= f.label :correct_answer %><br>
        <%#= f.text_field :correct_ans %><br>
        <%#= f.check_box :correct_ans
        <span>correct answer</span><br>

        <%#= f.text_field :correct_ans %><br>
        <%#= f.check_box :correct_ans %>
        <%# <span>correct answer</span><br> %>

        <%#= f.text_field :correct_ans %><br>
        <%#= f.check_box :correct_ans %>
        <%# <span>correct answer</span><br> %>
           
        <%#= f.submit "Save" %>
    </div>
<%# end %>

<%= form_for [:admin, @category, @word, @choice] do |f| %>
    <div class="field">
        <%= f.text_field :correct_ans %><br>
        <%= f.check_box :correct_ans, {}, checked_value = "true", unchecked_value="false" %>Correct answer
    </div>
    <div class="field">
        <%= f.text_field :correct_ans %><br>
        <%= f.check_box :correct_ans, {}, checked_value = "true", unchecked_value="false" %>Correct answer
    </div>
    <div class="field">
        <%= f.text_field :correct_ans %><br>
        <%= f.check_box :correct_ans, {}, checked_value = "true", unchecked_value="false" %>Correct answer
    </div>
     <span class="btn-group pull-right">
        <%= f.submit "Save"%>
    </span>
<% end %>
