<div class="row">
    <%= form_for [:admin, :category, @word] do |f| %>
            <%= render "error_messages" %>
            <div class="form-group">
                <%= f.label :Word %><br>
                <%= f.text_field :name, class:"form-control" %>
            </div>
            <%= f.fields_for :choices do |c| %>
            <div class="form-group form-check">
                <%= c.text_field :content, class:"form-check-input"%><br>
                <%= c.check_box :correct_ans, class:"form-check-label mt-4"%>correct answer
            </div>
            <% end %>
        <div class="btn-group pull-right">
            <%= f.submit "Save", class:"btn btn-outline-dark" %>
        </div>
        <div class="col-md-2 center-block"></div>
    <% end %>
</div>
