<%= form_for [:admin, :category, @word] do |f| %>
    <%= render "error_messages"%>
        <div class="row">
            <div class="field">
                <%= f.label :word %><br>
                <%= f.text_field :word %>
            </div>


            <span class="btn-group pull-right">
                <%= f.submit "Save"%>
            </span>
        </div>   
    </div>
<% end %>