<% provide(:title, @user.name) %>
<div class="container main mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 mt-3">
            <div class="row">
                <div class="col-md-8">
                    <h1><strong>Profile</strong></h1>
                </div>
                <div class="col-md-4">
                    <%= link_to "Edit",edit_user_path(@user)%>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 center-block mb-5">
                    <%= gravatar_for @user %>
                    <h1 class="mt-2"><strong><%= @user.name %></strong></h1>
                    <h4>
                    <i class="fa fa-envelop" aria-hidden="true"></i>
                    <%= @user.email %>
                    </h4>
                </div>
            </div>
        </div>


        <div class="col-md-2"></div>
        <div class="col-md-7 mb-5">
            <div class="container balloon1-left mb-5">
                <h2 class="mt-2">
                    <i class="fa fa-book"></i>
                    <strong>Recent Activity</strong>
                </h2>
                <hr>
                <div class="media ml-3">
                    <%= gravatar_for @user %>
                </div>
                <div class="media-body m-2 pr-5">
                
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <aside class="span">
        <section>
            <h1>
                
                
            </h1>
        </section>
    </aside>
</div>