<div class="container main mt-5">
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="container mt-3 mb-5">
                <ul class="nav nav-tabs">
                    <li class="nav-link active pr-5 pl-5"><%= link_to "All", "#" %></li>
                    <li class="nav-item">
                        <%= link_to "Learned", "#", class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Not Learned", "#", class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Getting Ready", "#", class:"nav-link" %>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-4 mb-3 mt-3">
                        <div class="lesson-box-prep">
                            <h2>
                                <strong><%= @category.title %></strong>
                            </h2>
                            <hr>
                            <h3 class="mb-5"><%= @category.description %></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= link_to "Back", admin_categories_path %>