<div class="header-small">
    <nav class="navbar　navbar-static-top navbar-expand mt-0 mb-3" style="background: url(/assetes/english.jpg); background-size:cover;">
        <a class="navbar-brand logo-small" href="/">TOEIC E-learning</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-4">
                <li class="nav-item guide">
                    <%= link_to "Home", root_path, class:"nav-link guide-link"%>
                </li>
                <li class="nav-item guide">
                    <%= link_to "About", about_path, class:"nav-link guide-link"%>
                </li>
                <li class="nav-item guide">
                    <%= link_to "Contact", contact_path, class:"nav-link guide-link"%>
                </li>

                <% if logged_in? %>
                    <li class="nav-item">
                        <%= link_to "Admin", admin_categories_path, class:"nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Members", users_path, class:"nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Logout", logout_path, method: :delete, class:"nav-link"%>
                    </li>
                    <li>
                        <%= link_to "Profile", current_user, class:"nav-link"%></li>
                    <li>
                        <%= link_to "Settings", edit_user_path(current_user), class:"nav-link"%>
                    </li>


                <% else %>

                    <li class="nav-item">
                        <%= link_to "Sign Up", signup_path, class: "nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Login", login_path, class: "nav-link"%>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</div>